img.view-percent {
   width: 25%;
}

div{
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
}


.MTimg{
	max-width: 600px;
	min-width: 250px;
	
}

.MTimg img{
	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
}

.MTcontent{
	
}




p{
	padding: 5px;
}

.clear{
	clear: both;
}

